.profile-main{
    width: 100%;
    
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    border: none;
    border-radius: 10px;
    padding: 20px 20px;
}
.img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #2C3E50;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 60px;
  color: white;
  font-weight: 500;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 2px 20px;
}

.user h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  color: #2c3e50;
}
.user h2{
      font-size: 20px;
  color: #7f8c8d;
  font-weight: 600;
}

.user span {
  font-size: 17px;
  color: #7f8c8d;
  font-weight: 600;
}


.profile-btn{

    height: 18vh;
    width: 60%;
    text-align: end;
   align-content: end;
}
.logout{
    margin-top: 20px;
    background-color: #ecebeb;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
}
.delte{
      margin-top: 20px;
    background-color: #fc00005b;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
}

.main2p{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.total {
  display: flex;
  align-items: center;
  gap: 10px;
background-color: #2c3e50e8;
  color: white;

  padding: 10px 24px;
  border-radius: 14px;
  min-width: 320px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

/* ICON */
.total > div:first-child {
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.total i {
  font-size: 32px;
  color: white;
}

/* TEXT */
.total h1 {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  opacity: 0.9;
  color: white;
}

.total h2 {
  font-size: 30px;
  margin: 0px 0 0;
  font-weight: 700;
  color: #1abc9c;
}



