.dhmain {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 40px 40px;
}

.dhmain h1 {
    font-size: 35px;
    color: #333333;
    /* margin-bottom: 20px; */
    font-weight: 700;
}

.card-main {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 83vh;
    padding-bottom: 20px;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;

    z-index: 2000;

}

.dcard {
    width: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 27vh;

}

.card-header {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header h1 {
    font-size: 23px;
    color: #333333;
    margin: 0;
    font-weight: 700;
}

.card-header button {
    float: right;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 3px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.view {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card p {
    font-size: 13px;
    color: #666666;
    margin-top: 10px;
    line-height: 1.4;
}

.card-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.like-main {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 0px;
}

.divright {
    padding: 1px 3px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: #666666;
    cursor: pointer;
    border: 1px solid rgb(168, 167, 167);
}

.divleft {
    padding: 1px 3px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #666666;
    cursor: pointer;

    border: 1px solid rgb(168, 167, 167);
}

.card-btn button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 6px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.card-likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    /* background-color: #007bff; */
}

.owner-main {
    display: flex;
    align-items: center;
    background-color: #cce2f847;
    padding: 1px 5px;
    border-radius: 6px;
}

.owner-main i {
    color: #c5c4c4;
    margin-right: 5px;
}

.owner-main span {
    font-size: 13px;
    color: #adaaaa;
    font-weight: 600;
}

.likes {
    display: flex;
    align-items: center;
    background-color: #cce2f847;

    padding: 1px 5px;
    border-radius: 6px;
}

.likes i {
    color: #1bc229;
    margin-right: 5px;
}

.likes span {
    font-size: 13px;
    color: #adaaaa;
    font-weight: 600;
}

.status-btn {
    background-color: transparent;
    border: none;
    color: #0a7d1773;
    background-color: #63f36f6d;
    border-radius: 5px;

    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    padding: 1px 3px;
}

.status-btn-p {
    background-color: transparent;
    border: none;
    color: #788c0673;
    background-color: #f8ff2187;
    border-radius: 5px;

    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    padding: 1px 3px;
}

.likem {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-top: 10px; */
}

.bottom {
    margin-top: 10px;
    text-align: end;
    /* background-color: #333333; */
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.title span {
    background-color: #66666634;
    padding: 2px 8px;
    font-size: 13px;
    border-radius: 10px;
    color: #333333;
}

.title p {

    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* kitni lines dikhani hain */
    -webkit-box-orient: vertical;
    overflow: hidden
}
.back-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
margin-bottom: 20px;
}