.main-container{
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 40px 40px;
    
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #333;
  margin-right: 20px;
}

.close-btn:hover {
  color: red;
}
.noteheading{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 22px;
 
font-style: italic;
}

.main-container p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    font-style: italic;
}
.notetag{
    font-size: 18px;
    padding: 5px 10px;
    background-color: #a0a3a7;
color: rgb(69, 68, 68);
border-radius: 20px;
text-align: end;
margin-left: 5px;
}
.headingmain{
    display: flex;
    justify-content: space-between;
       border-bottom:3px solid black;
}
.status-main{
    display: flex;
justify-content: center;
align-items: center;
}
.status-l{
    border: none;
    background-color: rgba(41, 255, 41, 0.386);
    padding: 5px 10px;
    border-radius: 2px;
}

.status-l-p{
     border: none;
    background-color: rgba(228, 251, 19, 0.674);
    padding: 5px 10px;
    border-radius: 2px;
}
.status-r{
    border: none;
    background-color: rgba(255, 0, 0, 0.386);
    padding: 5px 10px;
    border-radius: 2px;
}
.date{
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 10px ;
    background-color: #d3d3d3;
    border-radius: 20px;
    width: 32%;
}
.notemodel-like{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.note-likemain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
